html, body {
  margin: 0;
  padding: 0;
  background: #2c3e50;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}


.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid red;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.btn:hover,
  .btn:focus {
    color: #fff;
    outline: 0;
  }

.third {
  border-color: #32c3ff;
  color: #000;
  box-shadow: 0 0 40px 40px #32c3ff inset, 0 0 0 0 #32c3ff;
  transition: all 150ms ease-in-out;
}

.third:hover {
  box-shadow: 0 0 10px 0 #32c3ff inset, 0 0 10px 4px #32c3ff;
}

h1 {
  color:white;
  font-size: 4rem;
  text-transform: uppercase;
  display: block;
  width: 100%;

  
  @media screen and (max-width: 600px) {
    font-size: 3rem;
  }
}

.logo {
  width: 10rem;
  margin-bottom: 5rem;
}

.beerCard {
  padding: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
}

.img-wrapper {
  width: 100%;
  margin-bottom: 10px;
}

.btn-wrapper {
  display: block;
  text-align: center;
}

.view-btn {
  width: 70%;
  height: 40px;
  border: none;
  background-color: steelblue;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.navbar {
  background-color: #32c3ff;
}

.navbar img{
  width: 3rem;
}